.contador input{
    font-size: 26px;
    width: 60px;
}

.contador button{
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    color:#fff;
    margin: 10px;
}